.close {
    display: inline-block;
    cursor: pointer;
    margin-top: 1px;

    .bar1, .bar2 {
        width: 34px;
        height: 4px;
        background-color: #333;
        margin: 6px 0;
        border-radius: 20px 20px 20px 20px;
    }

    .bar1 {
        transform: rotate(-45deg) translate(1px, 6px);
    }
    
    .bar2 {
        transform: rotate(45deg) translate(0px, -9px);
    }
     
}
 